#footer .footer-logo {
    object-fit: contain;
    height: 10rem;
    transition: font-size 10s ease-in-out;
  
  }
  #footer .footer-logo:hover{
    height: 11rem;
  }
  #footer .socialmedia-icons {
    color: #fff;
    padding: 0px 5px;
    font-size: 2rem;
    transition: font-size .1s ease-in-out;
  }
  #footer .icons {
    height: 6rem;
    margin: auto;
  }
  #footer .socialmedia-icons:hover {
    color: #ed59a3;
    font-size: 2.5rem;
  }
  
  
  #footer .row{
    height: auto;
    align-items: center;
  }
  
  @media (max-width:992){
    #footer .row{
     height: 10rem; 
     } 
  }
  
  #footer {
    /* z-index: -20; */
    height: auto;
    /* margin-left: 0px;
    margin-right: 0px; */
    color: #fff;
    background-color: #FFB134;
    padding-top: 10px;
  }
  #footer p{
    text-align: center;
    padding: 10px;
  }





  .logo {
    height: 40px;
  }
  .logo:hover{
    transform: scale(1.05);
    transition: 100ms;
  }
  
  
  .navbar {
    background-color:#212529;
    z-index: 10;
  }
  .navbar .navbar-nav a {
    color: #fff;
    font-size: 1rem;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    text-decoration: none;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: .8rem;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  @media (max-width: 992px) {
    .dropdown-menu{ 
      text-align: center;
    }
  }
  

  
.navbar-toggler {
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  /* color: #fff; */
  color: #212529;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.navbar-toggler:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.navbar-toggler:active {
  color: #000
}

.navbar-toggler:active:after {
  background: transparent;
}

.navbar-toggler:hover:before {
  opacity: 1;
}

.navbar-toggler:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
