* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#for_backcol {
  background-color: #2cb7da;
}

:root {
  --main-bg-color: #f7b219;
}
/* #buttons{
  position: absolute;
  top: 100px;
  right: 20px;
  height: 2rem;
} */

body {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
  /* background-color: #FF5ACD; */
  /* background-color: #FBDA61; */
  /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */

  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  text-align: center;
}
#image_carousel {
  z-index: 0;
  max-width: 900px;
  width: 80vw;
  height: 40vw;
  overflow: hidden;
  max-height: 450px;
  margin-bottom: 5rem;
}

#main_heading {
  /* margin-top: 2rem; */
  /* font-family: "LemonMilk"; */
  font-family: 'Poppins';
  text-align: center;
  font-size: 5rem;
}
.main_heading2 {
  font-family: 'Poppins';
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
}

.heading {
  color: white;
  font-family: 'Poppins';
  font-weight: semibold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content {
  color: white;
  font-size: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  #culti.active {
    animation: comeinright 2s ease;
    padding-bottom: 3rem;
    display: flex;
    z-index: 1;
  }
  #techy.active {
    z-index: 1;
    display: flex;
    animation: comeinleft 2s ease;
  }
}

.row.active {
  padding: 0 4rem;
  display: block;
}

#main_page {
  background-color: #2cb7da;
}
#whole_content {
  overflow: hidden;
  height: 90%;
  padding: 3rem;
  padding-bottom: 5rem;
  border-radius: 20px;
  background-color: #1e1e65;
  margin: 1rem;
}

#whole img {
  display: block;
  width: 18rem;
  height: 12rem;
  overflow: hidden;
  object-fit: cover;
  margin: auto;
}
@media (max-width: 992px) {
  #whole img {
    width: 24rem;
    height: 14rem;
  }
  #whole_content {
    height: auto;
  }
}

@media (max-width: 480px) {
  .row.active {
    padding: 0 2rem;
  }
  .content {
    font-size: 0.8rem;
  }
}

/* footer */

@media (max-width: 768px) {
  #whole img {
    width: 80%;
    height: 50%;
  }
  #main_heading {
    font-size: 2.5rem;
  }

  #culti.active {
    margin: 0;
    /* width: 100vw; */
    z-index: 1;
    display: flex;
    animation: comeinright2 2s ease;
  }
  #culti {
    margin: 0;
    position: absolute;
    /* width: 100vw; */
    display: none;
    /* z-index: 1; */
  }
  #techy {
    position: absolute;
    display: none;
  }
  #main_page {
    position: relative;
  }

  #techy.active {
    z-index: 1;
    display: flex;
    animation: comeinleft2 2s ease;
  }
  .main_heading2 {
    font-size: 2.5rem;
  }
}

.navbar {
  top: 0;
}

.navbar2 .nav2{
  /* background-color: #202c6a; */
  /* width: 5rem; */
  display: flex;
  /* flex-wrap: inherit; */
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#culti_btn {
  margin-right: 15vw;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 800;
  background-color: #202c6a;
  z-index: 10;
  width: 12vw;
  min-width: 80px;
  /* position: sticky; */
  /* top: 0; */
  /* left: 49vw; */
}
#techy_btn {
  margin-left:15vw ;
  /* left: 41vw; */
  color: aliceblue;
  font-weight: 800;
  width: 12vw;
  background-color: #202c6a;
  z-index: 10;
  min-width: 80px;
  /* position: sticky; */
  /* top: 0; */
  /* right: 60vw; */
}
#home_btn {
  /* left: 41vw; */
  color: aliceblue;
  font-weight: 800;
  width: 12vw;
  background-color: #202c6a;
  z-index: 10;
  min-width: 80px;
  /* position: sticky; */
  /* top: 0; */
  /* right: 60vw; */
}
@media(max-width:480px){
  #techy_btn{
    margin-left: 3vw;
    font-weight: 500;
  }
  #culti_btn{
    margin-right: 3vw;
    font-weight: 500;
    /* padding: .1rem; */
  }
  #home_btn{
    font-weight: 500;
  }
}


@keyframes comeinright {
  from {
    top: 240px;
    left: 100vw;
    display: none;
  }
  to {
    top: 240px;
    left: 0px;
    display: flex;
  }
}
@keyframes comeinleft {
  from {
    top: 240px;
    right: 100vw;
    display: none;
  }
  to {
    top: 240px;
    right: 0px;
    display: flex;
  }
}
@keyframes comeinright2 {
  from {
    top: 180px;
    left: 100vw;
    display: none;
  }
  to {
    top: 180px;
    left: 0px;
    display: flex;
  }
}
@keyframes comeinleft2 {
  from {
    top: 180px;
    right: 100vw;
    display: none;
  }
  to {
    top: 180px;
    right: 0px;
    display: flex;
  }
}
#culti {
  right: 0;
  display: none;
  background-color: #2cb7da;
  /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
}
#techy {
  background-color: #2cb7da;
  /* background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  display: none;
  padding-bottom: 3rem;
}
#main_page {
  z-index: -1;
  position: relative;
  display: block;
}

@media (max-width: 480px) {
  #main_page {
    position: relative;
  }
  #culti {
    right: 0;
    position: absolute;
    display: none;
  }
  #techy {
    position: absolute;
    display: none;
  }
  #culti.active {
    right: 0;
    z-index: 1;
    display: flex;
    animation: comeinright2 2s ease;
  }

  #techy.active {
    z-index: 1;
    display: flex;
    animation: comeinleft2 2s ease;
  }
}

@media (max-width: 480px) {
  .row.active {
    padding: 0 0rem;
  }
  #whole_content{
    padding: 2rem 1rem;
    /* width: 90vw; */
  }
  .content {
    font-size: 0.8rem;
  }
}