* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  z-index: 1;

  /* background-image: linear-gradient(to bottom, #1e193d, #6b1f45); */
  /* background-color: #6b1f45; */
  font-family: "Open Sans", sans-serif;
  overflow-x: clip;
}

.logo {
  height: 40px;
}

.logo:hover {
  transform: scale(1.05);
  transition: 100ms;
}

.navbar {
  background-color: #101820ff;
  z-index: 10;
}

.navbar .navbar-nav a {
  color: #fff;
  font-size: 1rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  text-decoration: none;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 992px) {
  .dropdown-menu {
    text-align: center;
  }
}


/* .reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: 1s all ease;
}

/* cryptex section  */
#cryptex {
  background-color: #f65a83;
  background-size: cover;
  height: auto;
  text-align: center;
  text-align: center;
  color: #fff;
}

#cryptex h1 {
  display: block;
  font-size: 6rem;
  font-weight: bolder;
  color: white;
  font-family: "LemonMilk";
}

#cryptex .para {
  justify-content: center;
  align-items: center;
  border: 2px;
  min-height: 200px;
  text-align: left;
  font-family: "Poppins";
  font-size: 1.5rem;
}
#cryptex .image2 {
  width: 35rem;
}

#cryptex .image1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  min-height: 200px;
  padding: 20px;
}
.row {
  margin: auto;
}

@media (max-width: 992px) {
  #cryptex h1 {
    top: 10%;
    font-size: 4rem;
  }
  #cryptex .image2 {
    width: 20rem;
  }
  #cryptex .para {
    font-size: 1.25rem;
  }
  #cryptex h1 {
    top: 25%;
  }
}



/* navbar cross functionality */
.navbar-toggler {
  position: relative;
  transition: 0.5s ease-in-out;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #808080;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 10px;
  transform: rotate(0deg);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 19px;
  filter: alpha(opacity=100);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 28px;
  transform: rotate(0deg);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  left: 8px;
  transform: rotate(135deg);
  width: 70%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  left: 8px;
  transform: rotate(-135deg);
  width: 70%;
}
