/* navbar */


/* event page css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  text-align: center;
  /* overflow-x: hidden; */
  /* background-image: url("./events.jfif"); */
  background-color: white;
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#body{
  text-align: center;
}
.carousel-item{
  transition: 1s all ease;
}

.row{
  /* display: block; */
  align-items: center;
}

  #vert-navbar{
    /* padding: 10px; */

    list-style: none;
    margin-right: 25px;
}

#main_heading{
  font-family: "Poppins";
  
  color: #121212;
  font-size: 6rem;
  padding:0;
  margin: 0;
}

.events{
  
    text-align: center;
    font-weight: 700;
    margin-bottom: 3.125rem;
    /* padding: 0 10px; */
}
.heading{
  color: black;
    font-size: 5rem;
}
.content.col-md-6{
  display: block;
  padding-top: 24px;
}
.content{
  display: block;
  font-weight: 500;
  color: black;
    max-width: 95vw;
    width: 40vw;
    text-align: left;
    font-size: 1.4rem;
    /* vertical-align: middle; */
    align-items: center;
  

}

#championship img{
  width: 100%;
  margin: auto;
  margin-bottom: 1.25rem;
}
#championship p{
  font-size: 1.5rem;
}
#championship ul{
  text-align: left;
  margin: auto;
  width: fit-content;
  line-height: 2rem;
  margin-bottom: 1.25rem;
  list-style-type: disc;
}
#championship a{
  font-size: 1.25rem;
  margin-top: 1.25rem;
  padding: .5rem .5rem;
  background-color: #216C9D;
  border-radius: .25rem;
  color: white;
  text-decoration: none;
  
}
@media(min-width: 640px){
  #championship p{
    font-size: 1.875rem;
  }
}
@media(min-width: 1024px){
  #championship img{
    width: 60rem;
  }
}

@media (max-width: 992px) {
    .content{
        font-size: 1.2rem;
    }

}

@media(min-width: 769px){

  .full_content{
    padding-top: 1rem;
  }
}

@media(max-width:768px){
  #vert-navbar button{
    font-size: 1rem;
  }


  #main_heading{
    font-size: 4rem;
  }
    .heading{
        font-size: 3rem;
        padding: 1rem;
    }
    .content{
        font-size: 1rem;
    }

}
@media(max-width:360px){
  #vert-navbar{
    overflow-x: auto;
  }
  #vert-navbar button{
    /* padding: 0 1rem; */
    border-radius: 3px;
    width: 1rem;
    overflow-x: scroll;
    font-size: .5rem;
  }
  #main_heading{
    font-size: 3rem;
  }
}
.events{
    padding:0 50px;
    padding-bottom: 50px;
    position: relative;
    display: none;
    animation: getout 1s ease;
}
@media(max-width:992px){
    .events{
      /* padding:0 50px !important; */
      margin-right: 0 50px;
    }
}
@media(max-width:480px){
  /* #vert-navbar button{ */
    /* font-size: .7rem; */
    /* width: 8rem; */
  /* } */

  .events{
    padding: 0 20px;
  }

}
.navbar2{
  width: 100%;
  justify-content: space-evenly;
}
.navbar2 button{
  /* margin: .5rem; */
  margin-right: 1rem;
  margin-bottom: .25rem;
  margin-top: .25rem;

}
.events.active{
  opacity: 1;
    display: block;
    animation: comein 0.5s ease-in-out;
}
.events.inactive{
    display: block;
    animation:getout 0.3s ease-in ;
}

@keyframes comein {
    from{transform: translateX(20px) ;opacity: 0;}
    to {transform: translateX(0);opacity: 1;}
}
@keyframes getout{
    from{transform: translateX(0) ;display: block;}
    to {transform: translateX(-20px);display: none;}
}




#home .carousel{
  /* margin-top: 3rem; */
  max-width: 800px;
  width: 80vw;
  height:40vw ;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
}

.carousel.other{
  max-width: 800px;
  width: 80vw;
  height:50vw ;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
}
#workshop_carousel{
  max-width: 800px;
  width: 80vw;
  height:40vw ;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
}
#culti_carousel{
  max-width: 800px;
  width: 80vw;
  height:45vw ;
  margin: auto;
  max-height: 400px;
  overflow: hidden;
}

@media(min-width:768px){
  .carousel.other{
    width: 40vw;
    height: 25vw;
  }
  #culti_carousel{
    width: 40vw;
    height:22.5vw ;
  }
  #workshop_carousel{
    width: 40vw;
  height:20vw ;
  }
}



/* CSS */
#vert-navbar button {
  align-items: center;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border-radius: 5px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin-top: .5rem;
  outline: none;
  /* padding: 1rem .1rem; */
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.navbar button:hover {
  box-shadow: rgba(103, 103, 103, 0.35) 0 -20px 18px -14px inset,rgba(10, 36, 20, 0.25) 0 1px 2px,rgba(8, 24, 14, 0.25) 0 2px 4px,rgba(3, 23, 11, 0.25) 0 4px 8px,rgba(1, 18, 8, 0.25) 0 8px 10px,rgba(9, 41, 22, 0.25) 0 10px 20px;
  /* transform: scale(1.05) rotate(-1deg); */
}







/* contact us */






.navbar-toggler {
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  color: #212529;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}