*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  z-index: 1;

  background-image: linear-gradient(to bottom,#1e193d,#6b1f45);
  background-color: #6b1f45;
  font-family: "Open Sans", sans-serif;
  overflow-x: clip;
}


#section1 {
  background-image: url("./../images/Copy\ of\ IMG_0392.JPG");
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  color: #fff;
}
#section1 h1 {
  /* font-family: "Poppins"; */
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* neon effect */
  /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
}
@media (max-width: 768px) {
  #section1 h1{
    font-size: 5rem;
  }
}
@media (max-height:360px){
  #section1 h1{
    font-size: 4rem;
  }  
}
#section1 i {
  position: absolute;
  bottom: 20px;
  font-size: 3rem;

  /* animation */
  animation: down 1.5s infinite;
  cursor: pointer;
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
#section2{
  background-color: #171429;
}
#section2, #section3, #section4 {
  text-align: center;
  color: #fff;
  /* margin-bottom: 40px; */
}
#section2 h1, #section3 h1, #section4 h1 {
  /* margin: 40px 0; */
  padding-top: 20px;
  margin-bottom: 40px;
  font-family: "Righteous", cursive;
  font-size: 4rem;
}
#section2 .row{
  padding-bottom: 20px;
}
.section2-para{
  display: flex;
  justify-content: center; 
  align-items: center; 
  border: 2px;
  min-height: 200px;
  padding: 20px;
}
.carousel {
  max-width: 700px;
  margin: auto;
}
.carousel img{
  height: 60%;
}
#section2 p {
  text-align: left;
  /* margin: 40px 0; */
  padding: 0 30px;
}
/* #caption p{
  font-family: Garamond, serif;
  text-align: center;
  color: #CE2726;

  font-size: 3.5rem; 
} */
/* @media(max-width:768px){
  #caption p{

    font-size: 2.5rem;
  }
} */


#section3, #section4{
  position: relative;
}
#section3{
  background-color: #CE2726;
}
#section3 .col{
  margin: 30px auto;
}

iframe{
  max-width: 90vw;
}

#section4{
  margin-bottom: 20px;
}
#section4 h2{
  padding: 10px 10px;
  font-size: 2.5rem;
}
#section4 .Social-stats{
  margin: 5px;
  font-size: 1.25rem;
}
#section4 i{
  font-size: 3rem;
  margin-bottom: 10px;
}
.stat{
  font-size: 2rem;
}
.sta{
  font-size: 2rem;
}
@media(max-width:992px) {
  #section4 i{
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  .stat{
    font-size: 1.5rem;
  }
  .sta{
    font-size: 1.5rem;
  }
  
  #section4 .col{
    margin-bottom: 20px;
  }
}
#section4 p{
  margin: 0;
  text-align: center;
}
#section .col{
  text-align: center;
}





.reveal{
  position: relative;
  transform: translateY(130px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal2{
  position: relative;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s all ease;

}

.reveal2.active{
  transform: translateX(0);
  opacity: 1;
}


 .carousel-item{
  transition: 1s all ease;
}









/* sponsor section  */
#sponsor {
  background-color: rgb(185, 185, 185);
  height: 300px;
  
}
@media(max-width:992px){
  #sponsor{
    height: 500px;
  }
}


#sponsor h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  text-align: center;
}

#sponsor .sponsor-image img{
  height: 150px;
  /* object-fit: cover; */

}

@media(max-width:992px) {
  #sponsor .sponsor-image img{
    height: 80px;
    object-fit: contain;
    margin: 20px;
  }
}

#sponsor .carousel-control-prev-icon{
  position:relative;
  right: 7rem;
}
@media(max-width:992px){
  #sponsor .carousel-control-prev-icon{
    position: relative;
    right: 0;
  }
}

#sponsor .carousel-control-next-icon{
  position: relative;
left: 7rem;
}
@media(max-width:992px){
  #sponsor .carousel-control-next-icon{
    position: relative;
    left: 0;
  }
}

#sponsor .carousel-control-next,#sponsor .carousel-control-prev:hover{
  cursor:default
}

.fa-angle-down{
  margin: auto;
}



