* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  z-index: 1;

  /* background-image: linear-gradient(to bottom, #1e193d, #6b1f45); */
  /* background-color: #6b1f45; */
  font-family: "Open Sans", sans-serif;
  overflow-x: clip;
}

.reveal {
  position: relative;
  transform: translateY(130px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal2 {
  position: relative;
  transform: translateX(200px);
  opacity: 0;
  transition: 1s all ease;
}

/* social cause  */
#SocialCause {
  text-align: center;
  background-color: #e9dac1;
  background-size: cover;
  height: auto;
  text-align: center;
  /* position: relative; */
  color: #fff;
}
#SocialCause h1 {
  display: block;

  font-size: 6rem;
  /* font-family: "Poppins"; */
  font-weight: bolder;
  color: #101820ff;
  font-family: "Poppins";
  padding-top: 30px;
}
#SocialCause h2 {
  display: block;
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.25rem;
  color: #101820ff;
  font-family: "Times New Roman", Times, serif;
  padding-top: 110px;
}
/* #SocialCause .container-fluid{
   margin-top:100px ;
} */
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  min-height: 200px;
  padding: 20px;
  text-align: left;
  font-size: 1.5rem;
  color: black;
  font-family: "sans-serif";
}
#SocialCause .row {
  padding: 20px;
  margin-top: 60px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  min-height: 200px;
  padding: 5px 5px 0px;
}
@media (max-width: 992px) {
  #SocialCause h1 {
    font-size: 4rem;
    padding-top: 30px;
  }
  #SocialCause h2 {
    font-size: 1.5rem;
    padding-top: 35px;
  }
  .images {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  #SocialCause h1 {
    font-size: 3.5rem;
  }
  .para p {
    font-size: 1rem;
  }
}

/* navbar cross functionality */
.navbar-toggler {
  position: relative;
  transition: 0.5s ease-in-out;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #808080;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 10px;
  transform: rotate(0deg);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 19px;
  filter: alpha(opacity=100);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 28px;
  transform: rotate(0deg);
  width: 65%;
  left: 9px;
  border-radius: 10px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
  top: inherit;
  left: 8px;
  transform: rotate(135deg);
  width: 70%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  left: 8px;
  transform: rotate(-135deg);
  width: 70%;
}
