* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    z-index: 1;

    /* background-image: linear-gradient(to bottom, #1e193d, #6b1f45); */
    /* background-color: #6b1f45; */
    font-family: "Open Sans", sans-serif;
    overflow-x: clip;
}

.logo {
    height: 40px;
}

.logo:hover {
    transform: scale(1.05);
    transition: 100ms;
}


.navbar {

    background-color: #101820FF;
    z-index: 10;
}

.navbar .navbar-nav a {
    color: #fff;
    font-size: 1rem;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    text-decoration: none;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: .8rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 992px) {
    .dropdown-menu {
        text-align: center;
    }
}

.reveal {
    position: relative;
    transform: translateY(130px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translateX(200px);
    opacity: 0;
    transition: 1s all ease;

}




/* team section*/

#team_section {
    background-color: #101820FF;
    background-size: cover;
    height: auto;
    text-align: center;
    /* position: relative; */
    color: #000;
}

#team_section .card {
    background-color: #FCE77D;
}

#team_section h1 {
    padding-top: 3rem;
    display: block;
    position: relative;
    font-size: 6rem;
    font-family: 'LemonMilk';
    font-weight: bolder;
    color: white;

}
#team_section h5{
    /* position: absolute; */
    
    font-weight: bold;
}

.title1 {
    display: block;
    margin-top: 60px;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'LemonMilk';
}

#team_section .heads {
    padding-bottom: 0;
}

#team_section .head_card {
    padding: 2%;
    display: flex;
    justify-content: center;
}

.heads img {
    height: 350px;
}
@media (max-width: 992px) {
    /* #team_section {
        height: 2400px;
    } */
    #team_section .card{
        width: 12rem !important;
    }

    #team_section h1 {
        font-size: 4.5rem;
    }

    #team_section .title1 {
        font-size: 2rem;
    }
    .heads img {
        height: 200px;
    }
    #team_section .heads{
        margin-top: 100px;
        padding: 0px;
    }

}

#coord {
    background-color: #DDC3A5;
    background-size: cover;
    height: auto;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}

#coord .card {
    background-color: #E0A96D !important;
}

#coord .title2 {
    padding-top: 90px;
    display: block;
    position: relative;
    /* top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'LemonMilk';
}

#coord .coords {

    padding: 10px 200px;

}

#coord h4 {
    font-weight: bold;
}

.coord_card {
    padding: 2%;
    display: flex;
    justify-content: center;
}
@media (max-width:992px){
    #coord .coords {

        padding: 7px 30px;
    
    }
    /* #coord{
        height: 3150px;
    } */

}

/* footer  */
#footer {
    margin-left: 0px;
    margin-right: 0px;
    color: #fff;
    padding-bottom: 20px;
    background-color: #101820FF;
}

#footer p {
    text-align: center;
}

#footer .footer-logo {
    object-fit: contain;
    height: 7rem;
    width: 6.5rem;
    transition: font-size 10s ease-in-out;

}

#footer .footer-logo:hover {
    width: 7rem;
}

#footer .socialmedia-icons {
    color: #fff;
    padding: 0px 5px;
    font-size: 2rem;
    transition: font-size .1s ease-in-out;
}

#footer .icons {
    height: 3rem;
    margin: auto;
}

#footer .socialmedia-icons:hover {
    color: #ed59a3;
    font-size: 2.5rem;

}

/* contact us */


#footer .footer-logo {
    object-fit: contain;
    height: 7rem;
    width: 6.5rem;
    transition: font-size 10s ease-in-out;
  
  }
  #footer .footer-logo:hover{
  width: 7rem;
  }
  #footer .socialmedia-icons {
    color: #fff;
    padding: 0px 5px;
    font-size: 2rem;
    transition: font-size .1s ease-in-out;
  }
  #footer .icons {
    height: 3rem;
    margin: auto;
  }
  #footer .socialmedia-icons:hover {
    color: #ed59a3;
    font-size: 2.5rem;
    
  }
  
  
  #footer .row{
    height: auto;
    align-items: center;
  }
  
  @media (max-width:992){
    #footer .row{
     height: 10rem; 
     } 
  }
  
  #footer {
    height: auto;
    /* margin-left: 0px;
    margin-right: 0px; */
    color: #fff;
    background-color: #FFB134;
    padding-top: 10px;
  }
  #footer p{
    text-align: center;
    padding: 10px;
  }