html, body {
  background-color: #6b1f45;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 65px;
}

.navbar {
  margin: 0;
  z-index: 10;
}
.navbar .navbar-nav a {
  color: #fff;
  font-size: 1.5rem;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  text-decoration: none;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 1rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
@media (max-width: 992px) {
  .dropdown-menu{ 
    text-align: center;
  }
}

#section1 {
  background-image: url("images/image2.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  color: #fff;
}
#section1 h1 {
  font-family: "Twinkle Star", cursive;
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* neon effect */
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
#section1 i {
  position: absolute;
  bottom: 20px;
  font-size: 3rem;

  /* animation */
  animation: down 1.5s infinite;
  cursor: pointer;
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

#section2, #section3, #section4 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
#section2 h1, #section3 h1, #section4 h1 {
  margin: 40px 0;
  font-family: "Righteous", cursive;
  font-size: 4rem;
}
.carousel {
  width: 700px;
  margin: auto;
}
#section2 p {
  margin: 40px 0;
  padding: 0 60px;
}

#section3, #section4{
  position: relative;
}
#section3 .col{
  margin: 30px 0;
}
.design1a{
  width: 20rem;
  
  position: absolute;
  left: 106px;
}
.design1b{
  width: 20rem;
  transform: scaleX(-1);

  position: absolute;
  right: 106px;
  top: 4px;
}
@media (max-width: 992px) {
  .design1a, .design1b{
    display: none;
  }
}

#section4 i{
  font-size: 2rem;
  margin-bottom: 10px;
}
#section4 p{
  margin: 0;
}
.stat{
  font-size: 2.5rem;
}

#footer {
  color: #fff;
  padding-bottom: 10px;
  background-color: #201d47;
}
#footer .footer-logo {
  width: 200px;
}
#footer .socialmedia-icons {
  color: #fff;
  font-size: 3rem;
  margin: 50% 10px;
  transition: font-size 0.1s ease-in-out;
}
#footer .icons {
  margin: auto;
}
#footer .socialmedia-icons:hover {
  color: #ed59a3;
  font-size: 3.5rem;
}
#footer p {
  margin: 0;
}