*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  z-index: 1;

  background-image: linear-gradient(to bottom,#1e193d,#6b1f45);
  /* background-color: #6b1f45; */
  font-family: "Open Sans", sans-serif;
}

.logo {
  height: 40px;
}
.logo:hover{
  transform: scale(1.05);
  transition: 100ms;
}


.navbar {
  
  background-color:#212529;
  z-index: 10;
}
.navbar .navbar-nav a {
  color: #fff;
  font-size: 1rem;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  text-decoration: none;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: .8rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
@media (max-width: 992px) {
  .dropdown-menu{ 
    text-align: center;
  }
}

#section1 {
  background-image: url("images/Copy\ of\ IMG_0392.JPG");
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  color: #fff;
}
#section1 h1 {
  font-family: "Poppins";
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* neon effect */
  /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
    0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
}
@media (max-width: 768px) {
  #section1 h1{
    font-size: 5rem;
  }
}
@media (max-height:360px){
  #section1 h1{
    font-size: 4rem;
  }  
}
#section1 i {
  position: absolute;
  bottom: 20px;
  font-size: 3rem;

  /* animation */
  animation: down 1.5s infinite;
  cursor: pointer;
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
/* #section2{
  background-color: #171429;
} */
#section2, #section3, #section4 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
#section2 h1, #section3 h1, #section4 h1 {
  margin: 40px 0;
  font-family: "Righteous", cursive;
  font-size: 4rem;
}
.carousel {
  max-width: 700px;
  margin: auto;
}
.carousel img{
  height: 60%;
}
#section2 p {
  
  /* margin: 40px 0; */
  padding: 0 30px;
}
#caption p{
  font-size: 3rem; 
}
@media(max-width:768px){
  #caption p{
    font-size: 2rem;
  }
}


#section3, #section4{
  position: relative;
}
#section3 .col{
  margin: 30px auto;
}

iframe{
  max-width: 90vw;
}
/* .design1a{
  width: 20rem;
  
  position: absolute;
  left: 106px;
}
.design1b{
  width: 20rem;
  transform: scaleX(-1);

  position: absolute;
  right: 106px;
  top: 4px;
}
@media (max-width: 992px) {
  .design1a, .design1b{
    display: none;
  }
} */

#section4 i{
  font-size: 2rem;
  margin-bottom: 10px;
}
#section4 p{
  margin: 0;
}
.stat{
  font-size: 2.5rem;
}
 #footer .row{
  height: 10rem;
  align-items: center;
}

@media (max-width:992){
  #footer .row{
   height: 10rem; 
   } 
}

#footer {
  color: #fff;
  padding-bottom: 20px;
  background-color: #201d47;
}
#footer .footer-logo {
  object-fit: contain;
  height: 7rem;
  width: 6.5rem;
  transition: font-size 10s ease-in-out;

}
#footer .footer-logo:hover{
width: 7rem;
}
#footer .socialmedia-icons {
  color: #fff;
  padding: 0px 5px;
  font-size: 2rem;
  transition: font-size .1s ease-in-out;
}
#footer .icons {
  height: 3rem;
  margin: auto;
}
#footer .socialmedia-icons:hover {
  color: #ed59a3;
  font-size: 2.5rem;
  
}


.navbar-toggler {
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.navbar-toggler:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 5px;
}

.navbar-toggler:active {
  color: #000
}

.navbar-toggler:active:after {
  background: transparent;
}

.navbar-toggler:hover:before {
  opacity: 1;
}

.navbar-toggler:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 5px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}














/* sponsor section  */
#sponsor {
  background-color: rgb(185, 185, 185);
  height: 300px;
  
}
@media(max-width:992px){
  #sponsor{
    height: 500px;
  }
}

#sponsor h1 {
  font-family: "Righteous", cursive;
  font-size: 4rem;
  text-align: center;
  margin: 40px;
}

#sponsor .sponsor-image img{
  height: 150px;

}

@media(max-width:992px) {
  #sponsor .sponsor-image img{
    height: 80px;
    object-fit: contain;
    margin: 20px;
  }
}




.fa-angle-down{
  margin: auto;
}